

body {
    background-image: url("http://www.featurepics.com/FI/Thumb300/20110202/Teal-Ornate-Pattern-1776770.jpg");
}

#link {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding-left: 275px;
}

#link2 {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    
}

#wrapper {
    max-width: 900px;
    margin: 0 auto;
    background-color: black;
    padding: 0 5%;
}

img {
    padding-left: 195px;
}

p {
    color: black;
    background-color: teal;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}
li {
    color: white;
}

h1 {
    padding-left: 500px;
    margin: 20px;
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: teal;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #bdc3c7
}

img {
    max-width: 100%
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: lightgrey;
}

nav a.selected, nav a:hover {
    color: black;
}

.social-media-icon {
    width: 35px;
    height: 30px;
    margin: 0 5px;
}

.social-media-icon1 {
    width: 38px;
    height: 35px;
    margin: 0 5px;
    padding-left: 300px;
    padding-top: 100px;
}

h3 {
    color: lightgray;
    font-size: 30px;
    text-align: center;
}

#link:hover {
    color: teal;
}











